- flash.each do 
  .alert.alert-success
    = flash[:notice]
%h1
  %small List of Questions
%table{:class => "table table-hover"}
  %tr
    %th Points
    %th Asker
    %th.col-md-8 Title

  - @questions.each do |question|
    %tr
      %td= total_points question.id, "Question"
      %td= question.name
      %td= link_to question.title, question

%br/

- if !current_user.nil?
  = button_to 'Ask a Question', new_question_path, :method => :get, :class => "btn btn-success center-block"