- flash.each do 
  .alert.alert-success
    = flash[:notice]
%h1
  %small List of Questions

=paginate @questions

%table.table.table-hover
  %tr
    %th.col-md-2 Points
    %th.col-md-4 Asker
    %th.col-md-4 Title
    %th

  - @questions.each do |question|
    %tr
      %td= total_points question.id, "Question"
      %td= link_to question.name, User.find(question.user_id)
      %td= link_to question.title, question
      %td
        - if current_user && current_user.id == question.user_id
          = link_to "Delete", 
            question, 
            :method => :delete, 
            :data => {:confirm => "Are you sure?", 
                      :question_id => question.id}, 
            :remote => true, 
            :class => "js-delete-question"

%br/

- if current_user
  = button_to 'Ask a Question', 
    new_question_path, 
    :method => :get, 
    :class => "btn btn-success center-block"