<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h1><%= @question.title %></h1>
    <blockquote>
      <p><%= @question.question %></p>
      <small><cite><%= @question.name %></cite></small>
    </blockquote>

    <h3>
      <span class="label label-default">
        <%= @question.points %>
        <% if !session[:user_id].nil? %>
        <%= link_to '+', votes_up_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
        <%= link_to '-', votes_down_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
        <% end %>
      </span>
    </h3>
  </div>

  <h2>Answers:</h2>
  <% @count=1 %>
  <%= render @question.answers %>

  <br>
  <% if !session[:user_id].nil? %>
  <%= link_to 'Submit an Answer', new_question_answer_path(@question) %><br />
  <%= link_to 'Edit Question', edit_question_path(@question) %>
  <% end %>
  <%= link_to 'Home', questions_path %>
</div>
