<p id="notice"><%= notice %></p>

<div class="container">

    <div class="page-header">
      <h2><strong><%= @question.title %></strong>
        <span class="label label-default">
          <%= @question.points %>
          <% if !session[:user_id].nil? %>
          <%= link_to '+', votes_up_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
          <%= link_to '-', votes_down_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
          <% end %>
        </span>
      </h2>
    </div>

    <p><%= @question.question %></p>
    <small>
      Asked by: <strong><%= @question.name %></strong>
      <%= @question.created_at %>
    </small>

  <% if !session[:user_id].nil? %>
    <p class="text-right">
      <%= link_to 'Edit Question', edit_question_path(@question) %>
    </p>

    <%= button_to 'Submit an Answer', new_question_answer_path(@question), :method => :get, :class => "btn btn-success" %>
  <% end %>

  <h2>Answers:</h2>
  <div class="container">
    <% @count=1 %>
    <%= render @question.answers %>
  </div>

  <br>
</div>
