<p id="notice"><%= notice %></p>

<div class="container">
  <div class="jumbotron">
    <h2>
      <span class="label label-default">
        <%= @question.points %>
        <% if !session[:user_id].nil? %>
        <%= link_to '+', votes_up_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
        <%= link_to '-', votes_down_path(:type => "question", :id => @question.id, :question_id => @question.id) %>
        <% end %>
      </span>
    </h2>

    <h1><%= @question.title %></h1>

    <blockquote>
      <p class="text-justify"><%= @question.question %>
      <small><cite><%= @question.name %></cite></small></p>
    </blockquote>
  </div>

  <h2>Answers:</h2>
  <div class="container">
    <% @count=1 %>
    <%= render @question.answers %>
  </div>

  <br>
  <% if !session[:user_id].nil? %>
  <%= link_to 'Submit an Answer', new_question_answer_path(@question) %><br />
  <%= link_to 'Edit Question', edit_question_path(@question) %>
  <% end %>
  <%= link_to 'Home', questions_path %>
</div>
