= flash[:notice]
.container
	%h1
		Log in

	.row
		.col-md-4
			= form_tag sessions_path, {:class => "form-horizontal"} do
				.control-group
					= label_tag :email, nil, :class => "control-label"
					.controls
						= text_field_tag :email, params[:email], :placeholder => "Email"
				.control-group
					= label_tag :password, nil, :class => "control-label"
					.controls
						= password_field_tag :password
				.actions
					= submit_tag "Isumite"