- flash.each do 
  .alert.alert-success
    = flash[:notice]
.panel.panel-default
  .panel-heading
    %h3.panel-title
      %strong Log In

  .panel-body
    = form_tag sessions_path do
      .form-group
        = label_tag :email, nil, :class => "control-label"
        = text_field_tag :email, 
          params[:email], 
          {:class => "form-control", 
            :placeholder => "Email"}
      .form-group
        = label_tag :password, nil
        = password_field_tag :password, nil, :class => "form-control"
      .form-actions
        = submit_tag "Submit", :class => "btn btn-sm btn-primary"