%tr
  %td.col-md-1
    %strong= total_points comment.id, "Comment"
    - if !current_user.nil?
      %strong= link_to '+', votes_up_path(:type => "Comment", :id => comment.id, :question_id => @question.id)
      %strong= link_to '-', votes_down_path(:type => "Comment", :id => comment.id, :question_id => @question.id)
  %td
    %small
      "#{comment.comment}"
      %strong -#{comment.name}

      - if !current_user.nil?
        = link_to "Delete", [comment.answer, comment], :confirm => "Are you sure?", :method => :delete