= form_for [@answer, @answer.comments.build], 
  :remote => true,
  :html => {:class => 'js-new-comment', 
  :data => {:answer_id => @answer.id},} do |f|

  .field
    = f.hidden_field :name, :value => current_user.email
  .field
    = f.hidden_field :user_id, :value => current_user.id
  .field
    = f.label "Post a reply:"
    %br
    = f.cktext_area :comment, 
      {:rows => "4", 
        :cols => "60", 
      :ckeditor => {:toolbar => "CustomToolbar"}}
    %br
  .actions
    = f.submit "Send!"