<div class="panel panel-info">
	<div class="panel-heading">
		<h2 class="panel-title">Sign Up Form</h2>
	</div>
	<%= form_for @user do |f| %>	<% if @user.errors.any? %>
			<div id="error_explanation">
				<h2>Form is invalid</h2>
				<ul>
					<% for message in @user.errors.full_messages %>
						<li><%= message %></li>
					<% end %>
				</ul>
			</div>
		<% end %>

		<div class="control-group">
			<%= f.label :email %>
			<div class="controls">
				<%= f.text_field :email %>
			</div>
			<%= f.label :password %>
			<div class="controls">
				<%= f.password_field :password %>
			</div>
			<%= f.label :password_confirmation %>
			<div class="controls">
				<%= f.password_field :password_confirmation %>
			</div>
		</div>
		<div class="form-actions">
			<%= f.submit %>
		</div>
	<% end %>
</div>