%table{:class => "table"}
	%tr
		%td.col-md-1
			%h4
				%span.label.label-default
					= total_points answer.id, "Answer"
					- if !current_user.nil?
						= link_to '+', votes_up_path(:type => "Answer", :id => answer.id, :question_id => @question.id)
						= link_to '-', votes_down_path(:type => "Answer", :id => answer.id, :question_id => @question.id)
		%td
			= answer.answer
			%p.text-right
				%small
					Answered by:
					%strong= answer.name
					on 
					= answer.created_at

			- if !current_user.nil?
				.btn-group.btn-group-xs.pull-right
					= link_to 'Reply', new_question_answer_comment_path(answer.question, answer), :class => "btn btn-sm btn-default"
					= link_to "Delete Answer", question_answer_path(answer.question, answer), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-sm btn-danger"
				%br
	%tr
		%td
		%td
			%table{:class => "table table-condensed"}
				= render answer.comments
