.row.row-answer
	.col-md-6
		%p
			%h4
				= answer.answer
		%h4
			%span.label.label-default
				= answer.points
				- if !session[:user_id].nil?
					= link_to '+', votes_up_path(:type => "answer", :id => answer.id, :question_id => @question.id)
					= link_to '-', votes_down_path(:type => "answer", :id => answer.id, :question_id => @question.id)
		%p.text-right
			%small
				Answered by:
				%strong= answer.name
				on 
				= answer.created_at

		- if !session[:user_id].nil?
			.btn-group.btn-group-xs.pull-right
				= link_to 'Reply', new_question_answer_comment_path(answer.question, answer), :class => "btn btn-sm btn-default"
				= link_to "Delete Answer", question_answer_path(answer.question, answer), :confirm => "Are you sure?", :method => :delete, :class => "btn btn-sm btn-danger"
			%br

		%h5
			Replies:
		.container
			= render answer.comments
