<h3><%= @count %></h3>

<div class="panel panel-default">
	<div class="panel-body">
		<p class="lead"><%= answer.answer %></p>
		<small><%= answer.name %></small>

		<b>Points:</b>
		<%= answer.points %>

		<% if !session[:user_id].nil? %>
			<%= link_to '+', votes_up_path(:type => "answer", :id => answer.id, :question_id => @question.id) %>
			<%= link_to '-', votes_down_path(:type => "answer", :id => answer.id, :question_id => @question.id) %>
	</div>
</div>

<%= link_to "Delete Answer", [answer.question, answer],
				:confirm => "Are you sure?",
				:method => :delete %>
<% end %> |

<% if !session[:user_id].nil? %>
	<%= link_to 'Reply', new_question_answer_comment_path(answer.question, answer) %><br>
<% end %>

<h4>Replies</h4>
<%= render answer.comments %>

<% @count += 1%>
