%span#js-answer-row
  .row
    .panel.panel-default
      .panel-body
        .col-md-2
          %span.label.label-default
            %span.points
              = total_points answer.id, "Answer"
            - if current_user
              = link_to '+', 
                votes_up_path(:type => "Answer", 
                              :id => answer.id), 
                :remote => true, 
                :class => "js-up-vote",
                :data => {:id => answer.id,
                          :votable_type => "Answer"}

              = link_to '-', 
                votes_down_path(:type => "Answer", 
                                :id => answer.id), 
                :remote => true,
                :class => "js-down-vote",
                :data => {:id => answer.id,
                          :votable_type => "Answer"}

        .col-md-10
          = (parse_tags answer.answer).html_safe

          - if current_user
            .btn-group.btn-group-xs.pull-right
              = link_to 'Reply', 
                new_question_answer_comment_path(answer.question, 
                                                  answer), 
                :remote => true,
                :class => "btn btn-sm btn-default js-reply",
                :data => {:answer_id => answer.id}
                
              - if current_user.id == answer.user_id
                = link_to "Delete Answer", 
                  question_answer_path(answer.question, 
                                        answer), 
                  :confirm => "Are you sure?", 
                  :method => :delete, 
                  :remote => true,
                  :class => "btn btn-sm btn-danger js-delete-answer",
                  :data => {:answer_id => answer.id}

  %p.text-right
    %small
      Answered by:
      %strong
        = link_to answer.name, User.find(answer.user_id)
      on 
      = answer.created_at

  .row
    .col-md-10.col-md-offset-2.js-comment-form
  .row
    .col-md-10.col-md-offset-2
      - if answer.comments.present?
        %strong Replies:
      %ul.list-group
        = render answer.comments.first(5)
        - if answer.comments.count > 5
          =render :partial => 'comments/expand', 
            :locals => {:answer => answer, 
                        :offset => 5,
                        :count => answer.comments.limit(5).offset(5).count}
