= form_for [@question, @question.answers.build], :remote => true do |f|
  .field
    = f.hidden_field :name, :value => current_user.email
  .field
    = f.hidden_field :user_id, :value => current_user.id
  .field
    = f.label "Answer"
    %br/
    = f.cktext_area :answer, {:rows => "7", :cols => "75", :ckeditor => {:toolbar => 'CustomToolbar'}}
    %br/
  .actions
    = f.submit "Submit"